<!-- Text -->
<!-- <div  class="add-text"  [ngClass]="{'targetDiv' : expendTextArrow}"> -->
    <div class="get-option">
        <!-- <textarea name="" id="" cols="" rows="" placeholder="Enter Text"></textarea> -->
        <input type="text" name="" id="" placeholder="Enter Text">
        <label for="">text Properties</label>
        <ul>
            <li>

                <select name="" id="">
                    <option value="">Open Sans</option>
                    <option value="">Lato</option>
                    <option value="">Poppins</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="">Regular</option>
                    <option value="">Medium</option>
                    <option value="">Bold</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="">6px</option>
                    <option value="">8px</option>
                    <option value="">10px</option>
                </select>
            </li>
            <li>
                <select name="" id="">
                    <option value="">Sharp</option>
                    <option value="">Strong</option>
                    <option value="">Smooth</option>
                </select>
            </li>
            <li>
                <input type="color" name="" id="" value="#008eff">
            </li>
            <li>
                <button type="button">
                    <i class="icon-bold"></i>
                </button>
                <button type="button">
                    <i class="icon-italic"></i>
                </button>
                <button type="button">
                    <i class="icon-underline"></i>
                </button>
                <button type="button">
                    <i class="icon-align-left"></i>
                </button>
                <button type="button">
                    <i class="icon-align-center"></i>
                </button>
                <button type="button">
                    <i class="icon-align-right"></i>
                </button>
            </li>
        </ul>
    </div>
    <!-- <span class="closeToggle closeTarget" (click)="onChangeArrow()">
        <img src="./assets/images/left-arrow.svg" alt="">
    </span>
</div> -->