<!-- Blur -->
<!-- <div  class="add-background " [ngClass]="{'targetDiv' : expendAddBlurArrow}"> -->
    <div class="upload-image">
        <input type="range" step="0.5" value="5" min="1" max="10">
    </div>
    <ul>
        <li>
            <button type="button" style="background-image: url('./assets/images/thumbnails/editor-image-1.jpg')"></button>
        </li>
        <li>
            <button type="button" style="background-image: url('./assets/images/thumbnails/editor-image-1.jpg')"></button>
        </li>
        <li>
            <button type="button" style="background-image: url('./assets/images/thumbnails/editor-image-1.jpg')"></button>
        </li>
        <li>
            <button type="button" style="background-image: url('./assets/images/thumbnails/editor-image-1.jpg')"></button>
        </li>
        <li>
            <button type="button" style="background-image: url('./assets/images/thumbnails/editor-image-1.jpg')"></button>
        </li>
        <li>
            <button type="button" style="background-image: url('./assets/images/thumbnails/editor-image-1.jpg')"></button>
        </li>
    </ul>
    <!-- <span class="closeToggle closeTarget" (click)="onChangeArrow()">
        <img src="./assets/images/left-arrow.svg" alt="">
    </span>
</div> -->