<!-- Artsy Options -->
<!-- <div id="div6" class="targetDiv mscroller add-effects"> -->
<div class="effectsdiv">
    <ul>
        <li>
            <button type="button">
                <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                <span>oil Painting</span>
            </button>
        </li>
        <li>
            <button type="button">
                <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                <span>Sketch</span>
            </button>
        </li>
        <li>
            <button type="button">
                <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                <span>Water Color</span>
            </button>
        </li>
        <li>
            <button type="button">
                <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                <span>Cartoonizer</span>
            </button>
        </li>
    </ul>
</div>
<!-- <span class="closeToggle closeTarget">
    <img src="./assets/images/left-arrow.svg" alt="">
</span> -->
<!-- </div> -->