<!-- Bg Image -->

<div id="tabs">
    <div class="tabOptions">
        <ul>
            <li>
                <div (click)="showTabs(1)">
                    <a href="#tabs-1">Nature</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(2)">
                    <a href="#tabs-2">Human</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(3)">
                    <a href="#tabs-3">Animals</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(4)">
                    <a href="#tabs-4">Car</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(5)">
                    <a href="#tabs-5">Products</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(6)">
                    <a href="#tabs-6">Animals</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(7)">
                    <a href="#tabs-7">Car</a>
                </div>
            </li>
            <li>
                <div (click)="showTabs(8)">
                    <a href="#tabs-8">Products</a>
                </div>
            </li>
        </ul>
    </div>

    <div id="tabs-1" [hidden]="currentTab != 1" class="tabContent">
        <ul>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
        </ul>
    </div>

    <div id="tabs-2" [hidden]="currentTab != 2" class="tabContent">
        <ul>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
        </ul>
    </div>
    <div id="tabs-3" [hidden]="currentTab != 3" class="tabContent">
        <ul>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
        </ul>
    </div>
    <div id="tabs-4" [hidden]="currentTab != 4" class="tabContent">
        <ul>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
        </ul>
    </div>
    <div id="tabs-5" [hidden]="currentTab != 5" class="tabContent">
        <ul>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="/assets/images/thumbnails/editor-image-1.jpg" alt="">
                </button>
            </li>
        </ul>
    </div>
    <div id="tabs-6" [hidden]="currentTab != 6" class="tabContent"></div>
    <div id="tabs-7" [hidden]="currentTab != 7" class="tabContent"></div>
    <div id="tabs-8" [hidden]="currentTab != 8" class="tabContent"></div>
</div>