<!-- Top Bar -->
<div class="topBer">
    <div class="logo">
      <a href=""><img src="/assets/images/Logo.svg" alt=""></a>
    </div>
    <div class="topBer-middle">
      <ul>
        <li>
          <button type="button" data-toggle="tooltip" data-placement="bottom" title="Zoom Out">
            <i class="icon-minus-outline"></i>
          </button>
          <button type="button" data-toggle="tooltip" data-placement="bottom" title="Zoom In">
            <i class="icon-plus-circle"></i>
          </button>
          <div class="btn-group dropdown">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              fit on screen
            </button>
            <div class="dropdown-menu">
              <p><input type="text" name=""></p>
              <p><a href="javascript:void(0);" title="">fit on screen</a></p>
              <p><a href="javascript:void(0);" title="">25%</a></p>
              <p><a href="javascript:void(0);" title="">50%</a></p>
              <p><a href="javascript:void(0);" title="">75%</a></p>
              <p><a href="javascript:void(0);" title="">100%</a></p>
              <p><a href="javascript:void(0);" title="">200%</a></p>
              <p><a href="javascript:void(0);" title="">400%</a></p>
              <p><a href="javascript:void(0);" title="">800%</a></p>
              <p><a href="javascript:void(0);" title="">1600%</a></p>
            </div>
          </div>
        </li>
        <li>
          <button type="button" data-toggle="tooltip" data-placement="bottom" title="Crop">
            <i class="icon-crop"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="topBer-buttons">
      <button type="button" class="btn btn-blue">
        <i class="icon-settings"></i>
        <span>change API key</span>
      </button>
      <button type="button" class="btn">
        <i class="icon-upload"></i>
        <span>upload image</span>
      </button>
    </div>
</div>