<!-- Bg Color -->
<!-- <div  class="add-background" [ngClass]="{'targetDiv' : expendImageArrow}"> -->
    <div class="upload-image">
        <input type="color" id="" name="color" pattern="" value="#0069d9">
        <span>Choose color</span>
    </div>
    <ul>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
        <li>
            <button type="button"></button>
        </li>
    </ul>
    <!-- <span class="closeToggle closeTarget" (click)="onChangeArrow()">
        <img src="./assets/images/left-arrow.svg" alt="">
    </span>
</div> -->