<!-- Effects -->
<!-- <div id="div5" class="targetDiv mscroller add-effects"> -->
    <div class="effectsdiv">
        <ul>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Oroginal</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Matches</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Autumn</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Lime</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Letter</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Chunking</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Black coffee</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Mousse</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Grapefruit</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Puff</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Blueberry</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>cheese</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Fantasy Castle</span>
                </button>
            </li>
            <li>
                <button type="button">
                    <img src="./assets/images/thumbnails/editor-image-6.jpg" alt="">
                    <span>Cranberry</span>
                </button>
            </li>
        </ul>
    </div>
    <!-- <span class="closeToggle closeTarget">
        <img src="./assets/images/left-arrow.svg" alt="">
    </span> -->
<!-- </div> -->