<!-- Add Symbols -->
<!-- <div id="div7" class="targetDiv add-background"> -->
<div class="upload-image">
    <button type="button" href="#symbols" data-backdrop="false" data-toggle="modal">upload your logo</button>
</div>
<ul>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
    <li>
        <button type="button">
            <img src="assets/images/logo/logo-demo-1.jpg" alt="">
        </button>
    </li>
</ul>
<!-- <span class="closeToggle closeTarget">
        <img src="assets/images/left-arrow.svg" alt="">
    </span> -->
<!-- </div> -->


<!-- Dragable Popup One / Symbols -->
<div ngDraggable id="symbols" class="modal fade dragablePopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Symbols</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="icon-circle-with-cross"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-symbols">
                    <label for="">
                        upload symbol
                        <input type="file" name="">
                    </label>
                </div>
                <ol>
                    <li>
                        <img src="/assets/images/transparent-bg.jpg" alt="">text layers</li>
                    <li>
                        <img src="/assets/images/transparent-bg.jpg" alt="">Image layers</li>
                </ol>
                <div class="delete">
                    <a href="javascript:void(0);" title="">
                        <i class="icon-trash-o"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>